.box {
  position: relative;
  width: 100vw;
  height: auto;
  min-width: fit-content;
  min-height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.box-rounded {
  position: relative;
  height: 72vh;
  min-height: fit-content;
  margin-right: 6%;
  margin-top: 3%;
  margin-bottom: 2%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 4px solid white;
  border-left: 0;
  padding: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.red {
  background-image: url("/assets/hexagons.svg"), radial-gradient(at bottom left, #7d2934, #d04b5b);
  background-size: contain;
}

.green {
  background-image: url("/assets/hexagons.svg"), radial-gradient(at bottom left, #005e03, #00a700);
  background-size: contain;
}

.blue {
  background-image: url("/assets/hexagons.svg"), radial-gradient(at bottom left, #054af8, #009aff);
  background-size: contain;
}

.yellow {
  background-image: url("/assets/hexagons.svg"), radial-gradient(at bottom left, #ff9d39, #ffda68);
  background-size: contain;
}

.circle-inbox {
  width: 85%;
  border-radius: 50%;
  border: 1px solid #17191a;
  box-shadow: 0 0 30px black;
  object-fit: cover;
}

.circle-border-red {
  border: 1px solid #d04b5b;
}

.circle-border-green {
  border: 1px solid #00a700;
}

.circle-border-blue {
  border: 1px solid #009aff;
}

.circle-border-yellow {
  border: 1px solid #ffda68;
}

.line-one {
  position: absolute;
  right: 30px;
  top: 70%;
  width: 0;
  height: 20%;
  border: 2px solid white;
  border-radius: 10px;
}

.line-two {
  position: absolute;
  right: 30px;
  top: 63%;
  width: 0;
  height: 3.5%;
  border: 2px solid white;
  border-radius: 10px;
}

.line-three {
  position: absolute;
  right: 30px;
  top: 59%;
  width: 0;
  height: 1.5%;
  border: 2px solid white;
  border-radius: 10px;
}

.title {
  font-weight: bold;
  font-size: min(7.5vw, 3em);
  padding-top: 8vh;
  padding-bottom: 8vh;
  text-align: center;
  color: white;
}

.btn-outline-light {
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 5em;
}

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
}